{% extends "principal.html" %}
{% load static %}
{% block content %}

    <div class="px-4 py-5 my-5 text-center">
        <img class="d-block mx-auto mb-4" src="{% static 'img/WARP-logo.jpg' %}" alt="" width="320" height="320">
        <h1 class="display-5 fw-bold"> W.A.R.P. (Worldwide Alliance of Reality Protection) </h1>
            <div class="col-lg-6 mx-auto">
                <p class="lead mb-3"> Trabalhamos unidos entre várias ONGs ao redor do mundo todo com um objetivo em comum: Proteger a realidade, nosso povo, nossos lares, nossa natureza e acima de tudo nossa liberdade!</p>
                <p class="lead mb-3"> EXTREMIS MALIS EXTREMA REMEDIA</p>
                    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                        <button type="button" class="btn btn-warning btn-lg px-4 gap-3">Faça sua parte</button>
                        <button type="button" class="btn btn-outline-secondary btn-lg px-4">Saiba mais</button>
                    </div>
            </div>
  </div>
{% endblock %}