<!doctype html>
{% load static %}
{% load django_bootstrap5 %}
<html lang="pt-br">
{% block head %}
    {% include "head.html" %}
{% endblock %}
<body class=" mb-2 bg-dark text-white">
<header>
    <nav class="navbar navbar-expand-lg navbar-dark py-3">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'index' %}">
                <img src="{% static 'img/WARP-logo.png' %}" alt="Logo" width="40" height="40"
                     class="d-inline-block align-text-center">
                W.A.R.P.
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'index' %}">início</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">
                            Desastres
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'desastre_adicionar' %}">Reportar Desastre</a></li>
                            <li><a class="dropdown-item" href="{% url 'desastres' %}">Monitorar Desastres</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">
                            ONGs
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'ong_adicionar' %}">Registrar ONG</a></li>
                            <li><a class="dropdown-item" href="{% url 'agente_adicionar' %}">Registrar Agente</a></li>
                            <li><a class="dropdown-item" href="{% url 'ongs' %}">Listar ONGs</a></li>
                            <li><a class="dropdown-item" href="{% url 'agentes' %}">Listar Agentes</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">
                            Abrigos
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'abrigo_adicionar' %}">Registrar Abrigo</a></li>
                            <li><a class="dropdown-item" href="{% url 'abrigos' %}">Verificar Abrigos</a></li>
                            <li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">
                            Financiamentos
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'financiamento_adicionar' %}">Faça sua Contribuição</a></li>
                            <li><a class="dropdown-item" href="{% url 'financiamentos' %}">Listar Doações</a></li>
                            <li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">
                            Operações
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'operacoes_adicionar' %}">Registrar Operação</a></li>
                            <li><a class="dropdown-item" href="{% url 'operacoes' %}">Listar Operações</a></li>
                            <li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown">
									<a class="nav-link dropdown-toggle" href="#" id="navbarLogin" role="button"
									   data-bs-toggle="dropdown" aria-expanded="false">
										Usuário: {{ request.user.username }}
									</a>
									<ul class="dropdown-menu">
										<li><a class="dropdown-item" href="{% url 'alterar_senha' %}">Alterar senha</a></li>
										<li>
											<form action="{% url 'logout' %}" method="post">
												{% csrf_token %}
												<button class="btn btn-link dropdown-item" type="submit">Log Out</button>
											</form>
										</li>
									</ul>
								</li>
							{% else %}
								<li class="nav-item dropdown">
									<a class="nav-link dropdown-toggle" href="#" id="navbarAcesso" role="button"
									   data-bs-toggle="dropdown" aria-expanded="false">
									   Acesso
									</a>
									<ul class="dropdown-menu">
										<li><a class="dropdown-item" href="{% url 'login' %}">Login</a></li>
									</ul>
								</li>
							{% endif %}

                </ul>

            </div>
        </div>
    </nav>
</header>

    {% if messages %}
        <div class="container-fluid p-3">
            {% bootstrap_messages %}
        </div>
    {% endif %}

{% block content %} {% endblock %}

{% block footer %}
    {% include "footer.html" %}
{% endblock %}
</body>
</html>